{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Vocal For Local Shop!</h1>
      <p>Welcome to our "Vocal For Local" Shop. It is an online E-commerce website built by Prayas Pal and Aparajita Paul, to help the local business or shop owners, who have faced some major losses during the COVID-19 pandemic and lockdown. This site gives them a platform to showcase all the product they sell. For buyers our site is the best place to get all the Groceries, Medicines, Cloths and Handcrafts within an hour, without the hassle of standing in a queue outside the shops and also avoid the crowd. #Stay_home_stay_Safe! Also all the products will be from a local shop so in case of any difficulty replacement can also be done really quick. </p>

    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Help the Local Sellers</h2>
        <p>The COVID-19 pandemic has made online shopping a must for everyone, to ensure safety and Social distancing. But this has ruined the business of many local shop owners. On our website you will find all the local shops near you and can help them to flourish their business again</p>
        <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>List Your Shop</h2>
        <p>If you are a small business owner and have a valid license then list your shop on our website by filling a small form. After you fill the form successfully a person from our Back-end team will contact you and guide you through the further steps. It is you first step towards digitalizing your business.  </p>
        <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Fast & Easy Delivery</h2>
        <p>Get all your groceries, medicines, other things that you want at your doorstep from the comfort of your home within an hour! Reason? We have listed all the local shops near you and they deliver your order within an hour. We assure you the best quality service and top quality products. Let's be a part of #Vocal_for_Local! </p>
        <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>





{% endblock %}
